@{
    ViewBag.Title = "How can I make a Difference?";
}


<h2>@ViewBag.title</h2>

<body style="text-align:center"></body> 
<p>
    
    <img src="~/Custom/Images/Kingdom Connection FoodPantry.jpg" />
    
</p>
