@{
    ViewBag.Title = "Join US";
}
<h2>@ViewBag.Title</h2>


<address >
    <br  />
    Monroe City, MO 63456<br />
    <abbr title="Phone"></abbr>
    660.998.7643
</address>

<address>
    <strong>Co-Founder Mandi Kindhart-White:</strong>   <a href="mailto:kindhartm@yahoo.com"></a><br />
    <strong>Co-Founder Sarah Wilson:</strong> <a href="mailto:bswilson.sw@gmamil.com"></a>

</address>

<body>
    <body style="text-align:center " ></body>
    
    <div id="fb-root"></div>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

   


    <p>
        Please join us for Wednesday night bible study. Come as you are and enjoy praise and worship music by Spencer Camp Ministries along with Justin Holliday. 
        There is no dress code or denomination only to have a heart for Jesus or the desire to learn about Him. God has a plan for each one of us.
         If we make Jesus the head and we are the body, then everyone has a part for it to function correctly. So, come and sit with us, pray and 
        fellowship, laugh and learn. Everyone welcome. Currently meeting at the Lake Gazette office at 7 p.m. every Wednesday in the back of the building. 
        Please use side door to enter. Please call if you need a ride (660)998-7643 or visit our Facebook page Kingdom Connections. If you are unable to 
        come please join us live or watch at a later time bellow:  

        @*todo:add link to follow a video upload of the weekly bible study!*@
        <div class="fb-video" data-href="https://www.facebook.com/mandi.kindhartgraham/videos/10214418162227275/" data-width="500" data-show-text="false"><blockquote cite="https://www.facebook.com/mandi.kindhartgraham/videos/10214418162227275/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/mandi.kindhartgraham/videos/10214418162227275/"></a><p>Please join us for Bible Study with Kingdom Connections and Kingdom of God Minitries.</p>Posted by <a href="#" role="button">Mandi Kindhart</a> on Wednesday, September 6, 2017</blockquote></div>
</p>
</body>

