
@{
    ViewBag.Title = "LogOut";
}

<h2>GOD BLESS YOU!</h2>

<h3> Thank You </h3>
<body style="text-align:center">
    <img src="~/Custom/Images/partnering with us.jpg" width="600" height="450" />
</body>